$element-color: #000;
$element-color-hover: #444;
$element-color-active: #666;
$bg-color: #eee;
$border-color: #ccc;
$message-success: rgb(114, 208, 67);
$message-warning: #FFBA73;
$message-error: #FF5A40;